/* CSS STYLESHEET */
#informationdiv{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.649);
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
#informationdiv1{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.649);
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#exportationdiv{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.649);
    min-height: 300px;
    padding: 10px;
}

#namediv{
    width:30%;
}

#typediv{
    width:20%;
}

#valpos{
    height: 1em;
    position: absolute;
    margin-bottom: 0px;
}

#valdiv{
    width:30%;
}

#actiondiv{
    display: grid;
    width: 10%;
}

#btn1{
    margin: 5px;
}

#btn2{
    margin: 5px;
}
#btn3{
    margin: 5px;
}
#btn4{
    margin: 5px;
}

#exptxt{
    margin: 20px;
    width: 85%;
    min-height: 100px;
    
}


#id {
    /*VALUES*/
}

.class {
    /*VALUES*/
}

element {
    /*VALUES*/
}

