#divcycles {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 800px;
    border-color: black;
    border-style: solid;
}

#divexo {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 800px;
    border-color: black;
    border-style: solid;
    overflow: auto;
}

#divpr {
    display: flex;
}

h2 {
    text-align: center;
}

#textarea1{
    resize: none;
    height: 20px;
}

#listexo {
    overflow: auto;
}

#diff1{
    background-color: rgb(188, 236, 92);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    user-select: none;
}

#diff2{
    background-color: rgb(235, 235, 77);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    user-select: none;
}

#diff3{
    background-color: rgb(246, 161, 70);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    user-select: none;
}

#diff4{
    background-color: rgb(229, 102, 102);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    user-select: none;
}

#titrexo {
    font-weight: bold;
}

#divcyc {
    background-color: rgb(200, 157, 228);
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-radius: 15px;
}

#inisidedivcyc input{
    width: 50px;
    margin: 2px;
}

#boutonexp {
    float: right;
    margin: 10px;
    height: 5%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

#boutonexp:hover {
    border-color: rgb(134, 163, 47);
    background-color: rgb(212, 240, 127);
}

#reset{
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

#reset:hover {
    border-color: rgb(169, 40, 40);
    background-color: rgb(232, 128, 112);
}

#slotsdiv {
    background-color: rgba(128, 207, 224, 0.605);
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin: 2px;
}

#jsonresult {
    background-color: rgb(81, 129, 243);
    height: 400px;
    width: 60%;
    position: fixed;
    right: 10px;
    bottom: 400px;
    display: none;

}

#jsontxt {
    margin: 30px;
    width: 90%;
    resize: none;
    height: 50%;
}

body {
    position: relative;
}

#btnjson {
    text-align: center;
    margin-left: 30px;
    height: 10%;
    width: 20%;
}

#diff1:hover,#diff2:hover,#diff3:hover,#diff4:hover {
    border-color: black;
    border-width: 4px;
}